<%= render :partial => 'summary', :locals => { :poll => @poll } %>
<%= link_to 'Horizontal', {:action => 'show', :id => @poll.id, :chart => 'horizontal' }%>
<%= link_to 'Vertical', @poll %> 
<div id="chart-container" style="width: 800px; height: 450px"></div>
<script>
$(document).ready(function() {
	var total_votes = <%= @results.sum %>;
	var horizontal = <%= (params[:chart]=='horizontal') || false %>;
	var angle = -45;
	if(horizontal) {
		angle = 0;
	}
	var chart1 = new Highcharts.Chart({
    chart: {
		renderTo: 'chart-container',
      		defaultSeriesType: 'column',
			inverted: horizontal,
			margin: [50, 50, 100, 150]
        },
        title: { text: "<%= @poll.title %>" },
        xAxis: { 
			categories: <%= @categories.to_json %>,
	 		labels: { rotation: angle, align: 'right' }
		},
        yAxis: {
			min: 0,
            title: { text: 'votes' }
        },
		tooltip: {
			formatter: function() {
				return '<b>'+ this.x + ':</b><br/>' + this.y + ' votes, ' + 
				(this.y/total_votes*100).toFixed(2) + '%';
			}
		},
		legend: { enabled: false },
        series: [{ data: <%= @results.to_json %> }]
      });
   });
</script>